<!DOCTYPE html>
<html ng-app="anaBoca" data-framework="typescript">
<head>
    <meta charset="utf-8">
    <title>Ana Boca's Digital Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
</head>
<body ng-controller="HomeCtrl">
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div id="nebula" ng-if="gtXs()" parallax-background parallax-ratio="0.2" parallax-if="gtMd()"></div>
    
    <md-content id="anaBoca">
        <md-sidenav md-is-locked-open="$mdMedia('gt-md')">
            <md-button ng-click="scrollTo('s-1')">Business Portfolio</md-button>
            <md-button class="indent" ng-click="scrollTo('s-1-1')">Freelance</md-button>
            <md-button class="indent" ng-click="scrollTo('s-1-2')">Arizona State University</md-button>
            <md-button class="indent" ng-click="scrollTo('s-1-3')">Primavera Online School</md-button>
            <md-button ng-click="scrollTo('s-2')">Teaching Portfolio</md-button>
            <md-button class="indent" ng-click="scrollTo('s-2-1')">Arizona State University</md-button>
            <md-button class="indent" ng-click="scrollTo('s-2-2')">Primavera Online School</md-button>
        </md-sidenav>
        
        <md-card flex-gt-xs="80" flex-gt-sm="70" flex-gt-md="50" flex-gt-lg="40"
                 flex-offset-gt-xs="10" flex-offset-gt-sm="15" flex-offset-gt-md="35">
            
            <md-card-content>
                <div layout>
                     <div class="profile-pic"></div>
                     <div flex layout-padding class="no-padding-top">
                        <h1>Ana Boca</h1>
                        <div layout-xs="column" layout-gt-xs="row" layout-align-gt-sm="start start" layout-align="center start" layout-wrap class="nav-buttons">
                            <div>
                                <md-button flex class="md-raised md-primary" href="https://www.linkedin.com/in/ana-boca-902025a7" target="_blank">LinkedIn</md-button>
                                <md-button flex class="md-raised md-primary" href="http://dynamiccarrot.blogspot.com/" target="_blank">Blog</md-button>
                            </div>
                            <div>
                                <md-button flex class="md-raised md-primary" href="https://drive.google.com/open?id=0B92PJGQ3C-w0LVVtR3J3MGFyNms" target="_blank">Business Résumé</md-button>
                                <md-button flex class="md-raised md-primary" href="https://drive.google.com/open?id=0B92PJGQ3C-w0Z0E3OFdKVTRCdzA" target="_blank">Curriculum Vitae</md-button>
                            </div>
                        </div>
                     </div>
                </div>
                
                <br />
                <md-divider></md-divider>
                
                <h2 id="s-1">Business Portfolio</h2>
                <div class="md-padding">
                    <p>The BUSINESS PORTFOLIO is a snapshot of documents, some pulled from larger document systems, that Ana has designed and/or edited. </p>
                    
                    <h3 id="s-1-1">Freelance</h3>
                    <ul>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0V1U0dGFXamptRTg" target="_blank">“A.C.T. with Intention Information Sheet.”</a> Ana corrected grammatical errors, revised content, added content for clarity, and redesigned the document pulling design features from the client’s website to develop marketing consistency.</li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0UDBWbTFTQnhkSU0" target="_blank">“EMDR Information Sheet.”</a> Ana compiled resources for a client into an information document for the client to hand off to their patients. Ana cited sources associated with the main content and pulled design features from the client’s website to maintain marketing consistency.</li>
                    </ul>
                    
                    <h3 id="s-1-2">Arizona State University</h3>
                    <ul>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0R21Oa2lWZ0RFLU0" target="_blank">“Certificate of Completion.”</a> Ana initiated development of the certificate for the Professional Writing Teaching Preparation Program--creating a design that is in line with Arizona State University’s Communication Guide.</li>
                    </ul>
                    
                    <h3 id="s-1-3">Primavera Online High School and Middle School</h3>
                    <ul>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0X19TTWVkMEhnZjA" target="_blank">“Teacher ‘SNAPS’ Information Document.”</a> Ana was prompted by Primavera’s principal to develop a positive feedback system for Primavera teachers. Ana used Primavera’s in-house style guide to develop the document.</li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0U21MdnMtdHozU0E" target="_blank">“‘Delta’ Information Document.”</a> Ana was prompted by Primavera’s principal to develop a suggestion feedback system from Primavera employees. Ana used Primavera’s in-house style guide to develop the document.</li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0VkR5eG8xU3FFaTQ" target="_blank">“2015-2016 Primavera Thanksgiving Message.”</a> Ana was prompted by Primavera’s principal to ghostwrite a logistical message regarding the school  break using the principal’s persona. Ana used Primavera’s in-house style guide to develop the document.</li>
                    </ul>
                </div>
                
                <br />
                <md-divider></md-divider>
                
                <h2 id="s-2">Teaching Portfolio</h2>
                
                <div class="indent">
                
                    <p>The TEACHING PORTFOLIO is a snapshot of documents from courses that Ana has taught at the university level at Arizona State University and at the public charter level at Primavera Online High School. The following documents include relevant syllabi, example assignment sheets, example worksheets, and example rubrics.</p>
                
                    <h3 id="s-2-1">Arizona State University</h3>
                    
                    <div class="indent">
                    <h4>Business Writing</h4>
                    <ul>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0bEE0U3BZdFpxR0U" target="_blank">Syllabus_ENG 301</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0Mnd1Mm9qVDR2RUE" target="_blank">Project 4 Outline Assignment Sheet_ENG 301</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0T2JaUDlETFg4X0E" target="_blank">Project 4 Research Memo Assignment Sheet_ENG 301</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0cGtRN0dybEp3UzQ" target="_blank">Project 4 Proposal Assignment Sheet_ENG 301</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0VWNDdGtPTjFoRFU" target="_blank">Project 5 Presentation Assignment Sheet_ENG 301</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0S0JQVnF2UENNUEk" target="_blank">Project 4 Rubric_ENG 301</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0dFdaV0dWZmlacjA" target="_blank">Projects 4 and 5 Rubric_ENG 301</a></li>
                    </ul>
                    
                    <h4>First-Year Composition</h4>
                    <ul>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0SWQzdXdTczNDa0U" target="_blank">Syllabus_ENG 102</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0OS1SQ1hVRUxaSk0" target="_blank">Writing Project 3 Assignment Sheet_ENG 102</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0eXpMSEl2MGJmM1E" target="_blank">Writing Project 3 Final Draft Rubric_ENG 102</a></li>
                    </ul>
                    
                    <h4>Creative Writing</h4>
                    <ul>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0Yzh4dW5vQTNJNlU" target="_blank">Syllabus_ENG 287</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0TUQxaDUxVi13VEE" target="_blank">Final Portfolio Assignment Sheet_ENG 287</a></li>
                    </ul>
                    </div>
                    
                    <h3 id="s-2-2">Primavera Online High School</h3>
                    <ul>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0MDZXM1A0ZnJEN0U" target="_blank">Syllabus_11A</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0Rm55Sl9qaVdOTGs" target="_blank">Writing Project 3 Assignment Sheet_11A</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0NXFmR1NqYmFDVUU" target="_blank">Writing Project 3 Google Submission Doc_11A</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0UVZid2tPaTZQY1E" target="_blank">Syllabus_11B</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0akNyWF93YWU2X2c" target="_blank">Writing Project 2 Assignment Sheet_11B</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0QmdtSmdxYTFLQzQ" target="_blank">Writing Project 2 Google Submission Doc_11B</a></li>
                    </ul>
                </div>
            </md-card-content>
        </md-card>
        
    </md-content>
    
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-73451512-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="scripts/vendor.js"></script>
    
    <script src="scripts/main.js"></script>
</body>
</html>
