<!DOCTYPE html>
<html ng-app="anaBoca" data-framework="typescript">
<head>
    <meta charset="utf-8">
    <title>Ana Boca's Digital Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
</head>
<body ng-controller="HomeCtrl">
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <div id="nebula" ng-if="gtXs()" parallax-background parallax-ratio="0.2" parallax-if="gtMd()"></div>
    
    <md-content id="anaBoca">
        <md-sidenav md-is-locked-open="$mdMedia('gt-md')">
            <md-button ng-click="scrollTo('s-1')">Professional Narrative</md-button>
            <md-button class="indent" ng-click="scrollTo('s-1-1')">Core competencies</md-button>
            <md-button class="indent" ng-click="scrollTo('s-1-2')">Technical Skills</md-button>
            <md-button ng-click="scrollTo('s-2')">Business Portfolio</md-button>
            <md-button class="indent" ng-click="scrollTo('s-2-1')">Freelance</md-button>
            <md-button class="indent" ng-click="scrollTo('s-2-2')">Arizona State University</md-button>
            <md-button class="indent" ng-click="scrollTo('s-2-3')">Primavera Online School</md-button>
            <md-button ng-click="scrollTo('s-3')">Teaching Portfolio</md-button>
            <md-button class="indent" ng-click="scrollTo('s-3-1')">Arizona State University</md-button>
            <md-button class="indent" ng-click="scrollTo('s-3-2')">Primavera Online School</md-button>
            <md-button ng-click="scrollTo('s-4')">Documentation Development</md-button>
        </md-sidenav>
        
        <md-card flex-gt-xs="80" flex-gt-sm="70" flex-gt-md="50" flex-gt-lg="40"
                 flex-offset-gt-xs="10" flex-offset-gt-sm="15" flex-offset-gt-md="35">
            
            <md-card-content>
                <div layout layout-xs="column">
                     <div class="profile-pic"></div>
                     <div flex layout-padding class="no-padding-top">
                        <h1>Ana Boca</h1>
                        <div layout-xs="column" layout-gt-xs="row" layout-align-gt-sm="start start" layout-align="center start" layout-wrap class="nav-buttons">
                            <div>
                                <md-button flex class="md-raised md-primary" href="https://www.linkedin.com/in/anaboca" target="_blank">LinkedIn</md-button>
                                <md-button flex class="md-raised md-primary" href="http://dynamiccarrot.blogspot.com/" target="_blank">Blog</md-button>
                            </div>
                            <div>
                                <md-button flex class="md-raised md-primary" href="https://drive.google.com/open?id=0B92PJGQ3C-w0U1lJOTNHeVhpMkU" target="_blank">Business Résumé</md-button>
                                <md-button flex class="md-raised md-primary" href="https://drive.google.com/open?id=0B92PJGQ3C-w0bG0ybFNWaFBhVGc" target="_blank">Curriculum Vitae</md-button>
                            </div>
                        </div>
                     </div>
                </div>
                
                <br />
                <md-divider></md-divider>

                <h2 id="s-1">Professional Writing and<br />Technical Communication</h2>
                <div class="md-padding">
                    <p>Meticulous writer who undertakes dynamic assignments in professional writing sphere. Possesses practical knowledge in technical communication and process analysis. Applies excellent written communication skills to maintain internal organizational/institutional documentation standards. Operates with a high attention to detail and thrives in a creative environment.</p>
                    <h3 id="s-1-1" class="m-b-0">Core competencies</h3>
                    <div class="h4">(listed in alphabetical order)</div>
                    <div layout layout-align-gt-sm="center start">
                        <div layout="column" layout-gt-sm="row" flex>
                            <div flex>
                                <ul>
                                    <li>Blogging</li>
                                    <li>Copyediting</li>
                                    <li>Copywriting</li>
                                    <li>Creative Writing</li>
                                    <li>Curriculum Development</li>
                                </ul>
                            </div>

                            <div flex>
                                <ul>
                                    <li>Document Design</li>
                                    <li>Editing</li>
                                    <li>Home/Personal Organization</li>
                                    <li>Poetry</li>
                                </ul>
                            </div>
                        </div>

                        <div layout="column" layout-gt-sm="row" flex>
                            <div flex>
                                <ul>
                                    <li>Professional Organizing</li>
                                    <li>Proofreading</li>
                                    <li>Recruiting</li>
                                    <li>Sourcing</li>
                                    <li>System Analysis</li>
                                </ul>
                            </div>

                            <div flex>
                                <ul>
                                    <li>Teaching</li>
                                    <li>Technical Writing</li>
                                    <li>Training</li>
                                    <li>Workflow Productivity Analysis</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <h3 id="s-1-2">Technical Skills</h3>
                    <div layout layout-align-gt-sm="center start">
                        <div layout="column" layout-gt-sm="row" flex>
                            <div flex>
                                <ul>
                                    <li>Active Presenter</li>
                                    <li>Adobe Acrobat</li>
                                    <li>Adobe Premiere Pro</li>
                                    <li>APA Style</li>
                                    <li>AP Stylebook</li>
                                    <li>Arizona College and Career Readiness Standards (AZCCRS)</li>
                                    <li>Blackboard Learning Management System (LMS) </li>
                                </ul>
                            </div>

                            <div flex>
                                <ul>
                                    <li>CamStudio</li>
                                    <li>Camtasia</li>
                                    <li>Chicago Manual of Style</li>
                                    <li>Common Core State Standards</li>
                                    <li>Curriculum Development System (CDS) via FlipSwitch</li>
                                </ul>
                            </div>
                        </div>

                        <div layout="column" layout-gt-sm="row" flex>
                            <div flex>
                                <ul>
                                    <li>Deskflow Applicant Tracking System (ATS)</li>
                                    <li>Digication ePortfolio</li>
                                    <li>FlipSwitch LMS</li>
                                    <li>Google Analytics</li>
                                    <li>Google Drive</li>
                                    <li>Google Material Design</li>
                                    <li>iabol</li>
                                </ul>
                            </div>

                            <div flex>
                                <ul>
                                    <li>LinkedIn Recruiter</li>
                                    <li>Microsoft Office</li>
                                    <li>Microsoft Outlook</li>
                                    <li>MLA Style Manual</li>
                                    <li>Noble House</li>
                                    <li>Pitney Bowes</li>
                                    <li>RESUMate ATS</li>
                                    <li>Scrum (Agile)</li>
                                    <li>SharePoint</li>
                                    <li>Universal Design for Learning</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <md-divider></md-divider>
                
                <h2 id="s-2">Business Portfolio</h2>
                <div class="md-padding">
                    <p>The BUSINESS PORTFOLIO is a snapshot of documents, some pulled from larger document systems, that Ana has designed and/or edited. </p>
                    
                    <h3 id="s-2-1">Freelance</h3>
                    <ul>
                        <li>
                            Ana created a 
                            <span hide-xs>mock training video</span>
                            <span hide-gt-xs><a href="https://youtu.be/vo1Af4my1Xk" target="_blank">mock training video</a></span>
                            to display her knowledge of video scripting and editing.
                            <div hide-xs class="video-container">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/vo1Af4my1Xk?rel=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0VXhCLUgyOWFzbkU" target="_blank">“Dynamic Carrot Visual Brand Guide”</a> Ana created a mock visual brand guide to display her technical writing knowledge. The "Dynamic Carrot" brand is fictional and partially self-referential to Ana's "Dynamic Carrot" blog.</li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0Ym5nOXc0Y2dQZFk" target="_blank">“Welcome to the No-Drainer Community!”</a> Ana edited homepage content and developed letter to the customer for No-Drainer Water Purification Services.</li>
                    </ul>
                    
                    <h3 id="s-2-2">Arizona State University</h3>
                    <ul>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0RjNsZzNvcHE3RG8" target="_blank">“Certificate of Completion.”</a> Ana initiated development of the certificate for the Professional Writing Teaching Preparation Program--creating a design that is in line with Arizona State University’s Communication Guide.</li>
                    </ul>
                    
                    <h3 id="s-2-3">Primavera Online High School and Middle School</h3>
                    <ul>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0X19TTWVkMEhnZjA" target="_blank">“Teacher ‘SNAPS’ Information Document.”</a> Ana was prompted by Primavera’s principal to develop a positive feedback system for Primavera teachers. Ana used Primavera’s in-house style guide to develop the document.</li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0U21MdnMtdHozU0E" target="_blank">“‘Delta’ Information Document.”</a> Ana was prompted by Primavera’s principal to develop a suggestion feedback system from Primavera employees. Ana used Primavera’s in-house style guide to develop the document.</li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0VkR5eG8xU3FFaTQ" target="_blank">“2015-2016 Primavera Thanksgiving Message.”</a> Ana was prompted by Primavera’s principal to ghostwrite a logistical message regarding the school  break using the principal’s persona. Ana used Primavera’s in-house style guide to develop the document.</li>
                    </ul>
                </div>
                
                <br />
                <md-divider></md-divider>
                
                <h2 id="s-3">Teaching Portfolio</h2>
                <div class="md-padding">
                
                    <p>The TEACHING PORTFOLIO is a snapshot of documents from courses that Ana has taught at the university level at Arizona State University and at the public charter level at Primavera Online High School. The following documents include relevant syllabi, example assignment sheets, example worksheets, and example rubrics.</p>
                
                    <h3 id="s-3-1">Arizona State University</h3>
                    
                    <div class="indent">
                    <h4>Business Writing</h4>
                    <ul>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0bEE0U3BZdFpxR0U" target="_blank">Syllabus_ENG 301</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0Mnd1Mm9qVDR2RUE" target="_blank">Project 4 Outline Assignment Sheet_ENG 301</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0T2JaUDlETFg4X0E" target="_blank">Project 4 Research Memo Assignment Sheet_ENG 301</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0cGtRN0dybEp3UzQ" target="_blank">Project 4 Proposal Assignment Sheet_ENG 301</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0VWNDdGtPTjFoRFU" target="_blank">Project 5 Presentation Assignment Sheet_ENG 301</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0S0JQVnF2UENNUEk" target="_blank">Project 4 Rubric_ENG 301</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0dFdaV0dWZmlacjA" target="_blank">Projects 4 and 5 Rubric_ENG 301</a></li>
                    </ul>
                    
                    <h4>First-Year Composition</h4>
                    <ul>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0SWQzdXdTczNDa0U" target="_blank">Syllabus_ENG 102</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0OS1SQ1hVRUxaSk0" target="_blank">Writing Project 3 Assignment Sheet_ENG 102</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0eXpMSEl2MGJmM1E" target="_blank">Writing Project 3 Final Draft Rubric_ENG 102</a></li>
                    </ul>
                    
                    <h4>Creative Writing</h4>
                    <ul>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0Yzh4dW5vQTNJNlU" target="_blank">Syllabus_ENG 287</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0TUQxaDUxVi13VEE" target="_blank">Final Portfolio Assignment Sheet_ENG 287</a></li>
                    </ul>
                    </div>
                    
                    <h3 id="s-3-2">Primavera Online High School</h3>
                    <ul>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0MDZXM1A0ZnJEN0U" target="_blank">Syllabus_11A</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0Rm55Sl9qaVdOTGs" target="_blank">Writing Project 3 Assignment Sheet_11A</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0NXFmR1NqYmFDVUU" target="_blank">Writing Project 3 Google Submission Doc_11A</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0UVZid2tPaTZQY1E" target="_blank">Syllabus_11B</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0akNyWF93YWU2X2c" target="_blank">Writing Project 2 Assignment Sheet_11B</a></li>
                        <li><a href="https://drive.google.com/open?id=0B92PJGQ3C-w0QmdtSmdxYTFLQzQ" target="_blank">Writing Project 2 Google Submission Doc_11B</a></li>
                    </ul>
                </div>

                <br />
                <md-divider></md-divider>

                <h2 id="s-4">Documentation Development</h2>
                <div class="md-padding">
                    <h4 class="m-b-0">Proposal Writer. SBT Industries.</h4>
                    <ul>
                        <li>Proposed “Electronic Workflow Proposal” to improve company workflow process. Phoenix, AZ. Approved by Vice President Justin Kinsey 1-23-2017.</li>
                    </ul>
                    <h4 class="m-b-0">Editor and Content Developer. No-Drainer Water Purification Services.</h4>
                    <ul>
                        <li>Edited homepage content and developed “Welcome to the No-Drainer Community!” letter to the customer. Phoenix, AZ. Edits and content approved by Owner & Operator Russ Kravchuk 11-21-2016.</li>
                    </ul>
                    <h4 class="m-b-0">Editor. The EdCelleration Group, Incorporated.</h4>
                    <ul>
                        <li>Arizona Charter Schools Program (AZCSP) application through the Arizona Department of Education. Mesa, AZ. October 2016.</li>
                    </ul>
                     <h4 class="m-b-0">Document Creation. Primavera Online High School and Primavera Online Middle School. Chandler, AZ. 2015.</h4>
                     <ul>
                        <li>“Delta” Document System. Created 12-21-2015. Approved by Principal George J. Barnes 2-2-2016.</li>
                        <li>“Discussion Board Student Reference Manual.” Created 12-2-2015. Utilized by various departments to aid in grading efficiency and quality response to student discussion board posts.</li>
                        <li>“2015-2016 Primavera Thanksgiving Message” Document System: Google Doc; .PDF, verticalresponse.com email. Created 11-18-2015. Approved by Principal George J. Barnes 11-19-2015. Sent by Principal George J. Barnes via email to all Primavera teachers to post in courses 11-20-2015.</li>
                        <li>“ELA Writing Project Consistency” Google Doc for ELA PLC. Created 11-4-2015. Utilized in ELA PLC “with Department – Teachers: Focus on Assessment” 11-13-2015. Uploaded to Primavera’s training EdUnity website by Instructional Coach Amber Day 11-13-2015.</li>
                        <li>Teacher “SNAPS” Document System: Information Document; “Teacher SNAP Certificate.” Created 11-2-2015. Approved by Principal George J. Barnes 11-12-2015.</li>
                        <li>“Primavera Acronymity, Abbreviations, and Internal Terminology” Google Doc. Created 8-19-2015. Approved by Principal George J. Barnes 9-28-2015. Uploaded to Primavera’s training EdUnity website by Director of Professional Development Kristina Valles 10-13-2015.</li>
                        <li>“Syndicate Winn” team name; flag design. AzMERIT team name proposed 10-2-2015. AzMERIT team name approved by Assistant Superintendent Dawne Winn 10-2-2015. Flag design created 10-5-2015. Flag design approved by Syndicate Winn team 10-6-2015.</li>
                        <li>“2015-2016 Professional Learning Community Schedule” Google Doc for ELA PLC. Created 8-19-2015. Uploaded to Primavera’s training EdUnity website by Instructional Coach Amber Day 9-1-2015.</li>
                    </ul>
                    <h4 class="m-b-0">Editor. TwitterBootstrap MVC.</h4>
                    <ul>
                        <li>Source Code License Agreement. Phoenix, AZ. Edits 	approved by SYDE CEO Dmitry Efimenko 3-25-2015.</li>
                    </ul>
            </md-card-content>
        </md-card>
        
    </md-content>
    
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-73451512-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="scripts/vendor.js"></script>
    
    <script src="scripts/main.js"></script>
</body>
</html>
