h1, h3 {
    font-weight: 200;
}

h3.post-title {
    margin-bottom: 2em;
}

h3.post-title a {
    color: #616161;
}

.post-body h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 24px;
}

.body-fauxcolumns .cap-top > .cap-left:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url("https://anaboca.github.io/source/content/img/nebula.jpg") no-repeat center center;
}
